body {
    font-family: "Roboto Condensed", "Helvetica Neue", Verdana, Arial, sans-serif;
    color: #546670;
    font-size: 14px;
    line-height: 1.5;
}

h1 {
    text-align: center;
    text-size-adjust: 200%;
}

img {
    width: 23%;
}

p {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.instructions {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: aqua;
    text-align: left;
    margin-bottom: 20px;
    width: auto;
}

#tallyBox {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-bottom: 20px;
    width: auto;
}

.win-lose {
    text-align: left;
}

#winsLoses {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-bottom: 20px;
    width: 30%;
}

#gemImages {
    align-items: center;
    display: inline-block;
}

#goalScoreBox {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-bottom: 20px;
    width: 30%;
}

#goalScore {
    font-size: 300%;
    text-align: center;
}

#currentScore {
    font-size: 300%;
    text-align: center;
}
